@import 'colors';
@import 'rules';
@import 'maze';
@import 'aside';
@import 'buttons';
@import 'result';
@import 'server';

body {
  height: 100vh;
  font-family: Helvetica;
  background-color: $background;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  * {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
    color: white;
  }
}

#content {
  padding: 0 100px;
}

#header {
  height: 5vh;
}

#rules {
  height: 0vh;
}

#root {
  height: 95vh;
}

#game {
  display: flex;
}
