#server {
  margin-top: auto;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
}

.server-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.server-icon-false {
  background-color: $red;
}

.server-icon-true {
  background-color: $dark-green;
}

.server-text {
  font-size: 10px;
  margin-left: 8px;
  text-transform: uppercase;
}

.server-text-true {
  color: $dark-green;
}

.server-text-false {
  color: $red;
}
