<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Maze Solver</title>
  </head>
  <body>
    <div id="content">
      <div id="header">
        <div>
          <h1>PATHFINDER</h1>
          <p>Draw a maze then hit the <strong>SOLVE MAZE</strong> button to display the shortest path!</p>
        </div>
      </div>
      <div id="root"></div>
      <div id="footer">
        <div>
          <a href="https://github.com/BigBigDoudou/pathfinder/blob/master/README.md" target="_blank">
            <strong>SOURCE CODE --</strong> github.com/BigBigDoudou/pathfinder
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
