<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Maze Solver</title>
  </head>
  <body>
    <div id="rules">
      <h1>Maze pathfinder</h1>
      <p>
        This program find the shortest path from the <span class='purple'>start</span> to the <span class='green'>arrival</span> of a maze. Click on a <span class='gray'>wall</span> to make a <span class='white'>path</span> and vice-versa. Click on the <span class='purple'>start</span> cell to move it (re-click somewhere else - except on arrival - to put it) and do the same way with the <span class='green'>arrival</span> cell. You can use the <span class='blue'>buttons</span> on the left to add rows or columns, to empty the maze (only pathes), to fill it (only walls) or to rotate it (180°). When you're maze is ready, click on the <span class='red'>solve maze</span> button to display the shortest path. Use the <span class='gray'>reset</span> button if you want to clean your maze (initial number of rows and columns and only walls).
      </p>
    </div>
    <div id="root"></div>
  </body>
</html>
